pyrogram
tgcrypto
pymongo[srv]
motor
marshmallow==3.14.1
umongo==3.1.0
telegraph
aiohttp
aiofiles
requests
pyshorteners
beautifulsoup4
wget
python-arq
ffmpeg-python
ytthumb
yt-dlp
cinemagoer
pytz
python-dotenv
